# Dependencies
node_modules
.pnpm-store

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist
.wrangler
.mf

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# Cloudflare
.dev.vars

*storybook.log
